<style type="text/css">
body {
	margin : 0;
	background-color : white;
}

body, button {
	font-family : Helvetica, sans-serif;
}

div.full_screen_message {
	position : absolute;
	top : 0;
	right : 0;
	bottom : 0;
	left : 0;
	text-align : center;
	font-size : 50px;
	font-weight : 300;
	background-color : white;
	z-index : 4;
}

div.full_screen_message > div {
	position : absolute;
	top : 30%;
	right : 5%;
	bottom : 0;
	left : 5%;
}

#home {
	display : block;
	position : absolute;
	top : 12px;
	left : 12px;
	background-image : url('/img/home.svg');
	z-index : 2;
	background-position : center center;
	background-repeat : no-repeat;
	background-size : 14px 14px;
}

#faq {
	display : block;
	position : absolute;
	top : 12px;
	right : 40px;
	z-index : 2;
	font-size : 16px;
}

#feedback {
	display : block;
	position : absolute;
	top : 12px;
	right : 12px;
	z-index : 2;
	text-align : center;
	background-color : rgb(80,137,80);

	background-image: linear-gradient(bottom, rgb(80,137,80) 0%, rgb(96,166,96) 59%);
	background-image: -o-linear-gradient(bottom, rgb(80,137,80) 0%, rgb(96,166,96) 59%);
	background-image: -moz-linear-gradient(bottom, rgb(80,137,80) 0%, rgb(96,166,96) 59%);
	background-image: -webkit-linear-gradient(bottom, rgb(80,137,80) 0%, rgb(96,166,96) 59%);
	background-image: -ms-linear-gradient(bottom, rgb(80,137,80) 0%, rgb(96,166,96) 59%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(80,137,80)),
		color-stop(0.59, rgb(96,166,96))
	);
}

#feedback:hover {
	background-color : rgb(94,162,94);

	background-image: linear-gradient(bottom, rgb(94,162,94) 0%, rgb(113,194,113) 59%);
	background-image: -o-linear-gradient(bottom, rgb(94,162,94) 0%, rgb(113,194,113) 59%);
	background-image: -moz-linear-gradient(bottom, rgb(94,162,94) 0%, rgb(113,194,113) 59%);
	background-image: -webkit-linear-gradient(bottom, rgb(94,162,94) 0%, rgb(113,194,113) 59%);
	background-image: -ms-linear-gradient(bottom, rgb(94,162,94) 0%, rgb(113,194,113) 59%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(94,162,94)),
		color-stop(0.59, rgb(113,194,113))
	);
}

.message_success {
	color : green;
	font-size : 14px;
}

.message_failure {
	color : red;
	font-size : 14px;
}

/* Editor */

div.editor_container {
	position : absolute;
	top : 51px;
	bottom : 0;
	left : 0;
	right : 0;
	outline : 16px;
	overflow-y : auto;
	background-color : white;
	padding : 20px;
}

body.read_editor div.editor_container {
	top : 0;
}

article, header, section, aside, footer {
	display : block;
}

#frontpage {
	display : none;
}

#frontpage a {
	color : #0061da;
}

.l-header {
	max-width : 1000px;
	overflow : hidden;

	padding : 70px 35px 20px 35px;
	margin : auto;
}

.l-header h1 {
	float : left;

	margin : 0;

	font-size : 60px;
	font-weight : 300;
	line-height : 60px;
	vertical-align : bottom;
}

#new_doc {
	float : right;

	padding : 12px 30px;
	border : 1px solid #cceaa2;
	border-radius : 25px;
	margin-bottom : 16px;
	margin-right : 8px;

	background-color : rgb(76,156,76);
	background-image: linear-gradient(bottom, rgb(76,156,76) 0%, rgb(109,192,109) 100%);
	background-image: -o-linear-gradient(bottom, rgb(76,156,76) 0%, rgb(109,192,109) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(76,156,76) 0%, rgb(109,192,109) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(76,156,76) 0%, rgb(109,192,109) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(76,156,76) 0%, rgb(109,192,109) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(76,156,76)),
		color-stop(1, rgb(109,192,109))
	);

	color : white;
	font-size : 21px;
	font-weight : bold;
	text-shadow : 0 -1px 2px rgba(0,0,0,0.5);

	cursor : pointer;
}

#new_doc:hover {
	background-color : rgb(106,198,106);
	background-image: linear-gradient(bottom, rgb(106,198,106) 17%, rgb(140,221,140) 59%);
	background-image: -o-linear-gradient(bottom, rgb(106,198,106) 17%, rgb(140,221,140) 59%);
	background-image: -moz-linear-gradient(bottom, rgb(106,198,106) 17%, rgb(140,221,140) 59%);
	background-image: -webkit-linear-gradient(bottom, rgb(106,198,106) 17%, rgb(140,221,140) 59%);
	background-image: -ms-linear-gradient(bottom, rgb(106,198,106) 17%, rgb(140,221,140) 59%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.17, rgb(106,198,106)),
		color-stop(0.59, rgb(140,221,140))
	);
}

section {
	position : relative;
	z-index : 2;
	max-width : 1000px;

	padding : 35px;
	padding-bottom : 17px;
	margin : auto;
	border-bottom : 1px solid rgb(200,200,200);

	font-size : 22px;
	font-weight : 300;
	line-height : 1.4;
}

#frontpage section p {
	font-size : 16px;
}

/* tagline */

#tagline {
	border-width : 0;
}

#tagline h1 {
	line-height : 25px;
	padding : 15px 0;
	min-height : 35px;
	margin-bottom : 10px;
}

#tagline b {
	display : inline;
	color : #0061da;
	text-decoration : none;
}

#tagline h2 {
	font-size : 25px;
	font-weight : 300;
	line-height : 25px;
	padding : 5px 0;
}

b#real_time {
	color : #dcdc10;
}

b#online {
	color : black;
}

b#text_editor {
	color : #e13838;
}

/* features */

#features {
	overflow : hidden;
}

.feature img {
	display : block;
	max-width : 32px;
	max-height : 32px;
	margin : auto;
	margin-bottom : 20px;
}

.feature h1 {
	margin-top : 5px !important;
	margin-bottom : 25px !important;
	text-align : center;
	font-size : 25px;
}

.feature:first-child {
	padding-left : 0;
	padding-right : 10px;
}

.feature {
	padding : 0 5px;
	margin-bottom : 40px;
	font-size : 16px;
}

.feature:nth-child(4n+0) {
	padding-left : 10px;
	padding-right : 0;
}

.feature:nth-child(4n+1) {
	clear : left;
	padding-left : 0;
	padding-right : 10px;
}

.feature {
	width : 25%;
	float : left;
	box-sizing : border-box;
	-moz-box-sizing : border-box;
}

#frontpage section h1, .l-footer > h1 {
	margin-top : 0;
	margin-bottom : 10px;
}

.l-footer {
	max-width : 1000px;
	margin : auto;
	padding : 35px;
	overflow : hidden;
}

.l-footer > div {
	float : left;
	width : 33%;
}

.l-footer > div > h2 {
	font-size : 20px;
	font-weight : normal;
}

/* Demo */

#demo {
	overflow : hidden;
}

#demo h2 {
	font-weight : 300;
	font-size : 22px;
	margin-left : 6px;
}

#frontpage div#panel {

}

#frontpage div#editor_write, #frontpage div#editor_read {
	clear : left;
	float : left;
	width : 49%;
	margin-bottom : 20px;
}

#frontpage div#editor_read {
	clear : none;
}

#frontpage div.wu-editor {
	position : static;
	height : 600px;
	margin : 6px;
	outline : 20px;
	padding : 20px;
	background-color : white;
	border : 1px solid rgb(200,200,200);
	font-size : 16px;
	font-family : Arial;
	line-height : 120%;
	overflow-y : auto;
}

#frontpage div.root {
	margin-top : 0;
	padding : 0;
	background-color : white;
	box-shadow : none;
}

#frontpage div#demo_panel > div {
	margin : 0;
	padding : 10px 3px;
}

#frontpage div#demo_panel > div > div {
	float : left;
	margin-right : 20px;
}

#frontpage div#demo_panel button.toggle {
	display : none;
}

.l-header button.unsupported {
	background-color : #ed1c24;

	background-image: linear-gradient(bottom, #ed1c24 0%, #fb444b 100%);
	background-image: -o-linear-gradient(bottom, #ed1c24 0%, #fb444b 100%);
	background-image: -moz-linear-gradient(bottom, #ed1c24 0%, #fb444b 100%);
	background-image: -webkit-linear-gradient(bottom, #ed1c24 0%, #fb444b 100%);
	background-image: -ms-linear-gradient(bottom, #ed1c24 0%, #fb444b 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #ed1c24),
		color-stop(1, #fb444b)
	);

	cursor : auto;
}

@media only screen
and (min-width : 651px)
and (max-width : 850px) {
	#features > div {
		width : 33.3%;
	}

	#features > div:nth-child(4n+0) {
		padding : 0 5px;
	}

	#features > div:nth-child(3n+0) {
		padding-left : 10px;
		padding-right : 0;
	}

	#features > div:nth-child(4n+1) {
		clear : none;
	}

	#features > div:nth-child(3n+1) {
		clear : left;
	}
}

@media only screen
and (min-width : 461px)
and (max-width : 650px) {
	#features > div {
		width : 50%;
	}

	#features > div:nth-child(4n+0) {
		padding : 0 5px;
	}

	#features > div:nth-child(2n+0) {
		padding-left : 10px;
		padding-right : 0;
	}

	#features > div:nth-child(4n+1) {
		clear : none;
	}

	#features > div:nth-child(2n+1) {
		clear : left;
	}

	.l-footer > div {
		float : left;
		width : 50%;
	}

	#frontpage div#editor_write, #frontpage div#editor_read {
		float : none;
		width : auto;
	}
}

@media only screen
and (max-width : 460px) {
	#features > div {
		width : auto;
		float : none;
	}

	#features > div:nth-child(4n+0) {
		padding : 0 0;
	}

	.l-footer > div {
		float : none;
		width : auto;
	}

	#frontpage div#editor_write, #frontpage div#editor_read {
		float : none;
		width : auto;
	}
}
.wu-title-container {
	height : 30px;
}

input.wu-title {
	width : 100%;
	border-width : 0;
	font-size : 16px;
	font-family : Helvetica, sans-serif;
	outline : 0;
	padding : 5px 5px 5px 0;
	border-bottom : 2px solid rgb(220,220,220);
}

.wu-editor {
	white-space : pre-wrap;
	word-wrap : break-word;
	font-size : 16px;
	font-family : Arial;
	line-height : 120%;
	line-height : 160%;
	outline : 0;
}

.wu-editor span {
	font-size : 16px;
	font-family : Arial;
}

.wu-root {
	background-color : white;
	min-height : 400px;
}
/* Line styles */

.wu-line, .wu-line > span {
	line-height : 160%;
}

.wu-line.wu-right {
	text-align : right;
}

.wu-line.wu-center {
	text-align : center;
}

.wu-line.wu-justify {
	text-align : justify;
}

/* Line spacing */

.wu-line_spacing_05, .wu-line_spacing_05 > span {
	line-height : 50%;
}

.wu-line_spacing_06, .wu-line_spacing_06 > span {
	line-height : 60%;
}

.wu-line_spacing_07, .wu-line_spacing_07 > span {
	line-height : 70%;
}

.wu-line_spacing_08, .wu-line_spacing_08 > span {
	line-height : 80%;
}

.wu-line_spacing_09, .wu-line_spacing_09 > span {
	line-height : 90%;
}

.wu-line_spacing_10, .wu-line_spacing_10 > span {
	line-height : 100%;
}

.wu-line_spacing_11, .wu-line_spacing_11 > span {
	line-height : 110%;
}

.wu-line_spacing_12, .wu-line_spacing_12 > span {
	line-height : 120%;
}

.wu-line_spacing_13, .wu-line_spacing_13 > span {
	line-height : 130%;
}

.wu-line_spacing_14, .wu-line_spacing_14 > span {
	line-height : 140%;
}

.wu-line_spacing_15, .wu-line_spacing_15 > span {
	line-height : 150%;
}

.wu-line_spacing_16, .wu-line_spacing_16 > span {
	line-height : 160%;
}

.wu-line_spacing_17, .wu-line_spacing_17 > span {
	line-height : 170%;
}

.wu-line_spacing_18, .wu-line_spacing_18 > span {
	line-height : 180%;
}

.wu-line_spacing_19, .wu-line_spacing_19 > span {
	line-height : 190%;
}

.wu-line_spacing_20, .wu-line_spacing_20 > span {
	line-height : 200%;
}

/* Lists */

.wu-disc, .wu-square {
	display : list-item;
	list-style : inside;
}

.wu-lower-alpha, .wu-lower-roman , .wu-lower-roman, .wu-upper-alpha, .wu-upper-roman {
	display : block;
}

.wu-disc {
	list-style-type : disc;
}

.wu-lower-alpha:before {
	counter-increment : item;
	content : counter(item, lower-alpha) ". "
}

.wu-lower-roman:before {
	counter-increment : item;
	content : counter(item, lower-roman) ". "
}

.wu-square {
	list-style-type : square;
}

.wu-upper-alpha:before {
	counter-increment : item;
	content : counter(item, upper-alpha) ". "
}

.wu-upper-roman:before {
	counter-increment : item;
	content : counter(item, upper-roman) ". "
}

.wu-ordered {
	display : block;
}

.wu-ordered:before {
	counter-increment : item;
	content : counter(item) ". "
}

.wu-reset-counter {
	counter-reset : item;
}

/* Heading */

.wu-line.wu-heading1, .wu-line.wu-heading1 span {
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 135%;
}

.wu-line.wu-heading2, .wu-line.wu-heading2 span {
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 130%;
}

.wu-line.wu-heading3, .wu-line.wu-heading3 span {
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 125%;
}

.wu-line.wu-heading4, .wu-line.wu-heading4 span {
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 120%;
}

.wu-line.wu-heading5, .wu-line.wu-heading5 span {
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 115%;
}

.wu-line.wu-heading6, .wu-line.wu-heading6 span {
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 110%;
}

.wu-line.wu-heading1 span, .wu-line.wu-heading2 span, .wu-line.wu-heading3 span, .wu-line.wu-heading4 span, .wu-line.wu-heading5 span, .wu-line.wu-heading6 span {
	display : inline-block;
}

/* Text styles */

.wu-text.wu-bold {
	font-weight : bold;
}

.wu-text.wu-underline {
	text-decoration : underline;
}

.wu-text.wu-italic {
	font-style : italic;
}

.wu-text.wu-strikethrough {
	text-decoration : line-through;
}

/****************************************************
  Format panel
****************************************************/

aside#panel {
	position : absolute;
	top : 0;
	left : 0;
	right : 0;
	height : 46px;
	/*box-shadow : 0 0 3px rgba(0,0,0,0.5);*/
	z-index : 2;
	padding : 5px 210px 0 48px;
}

aside#panel .wu-format-panel {
	height : 31px;
	background-color : #6dcff6;
	border-radius : 12px;
	padding-left : 4px;
	padding-bottom : 6px;
}

body.editor aside#panel {
	background-color : #6dcff6;
	border-bottom : 1px solid #5cb0d1;
}

aside#panel div.wu-format-panel.open {
	height : auto;
	overflow : auto;
}

aside#panel button.wu-toggle {
	display : block;
	position : absolute;
	top : 12px;
	right : 210px;
}

div.wu-format-panel button.hide {
	display : none;
	float : left;
	clear : left;
	background-color : rgb(220,120,120);
	font-weight : bold;
}

/****************************************************
  Status panel
****************************************************/

div.status_panel {
	position : absolute;
	top : 0;
	right : 56px;
	padding : 12px;
	z-index : 2;
	overflow : hidden;
}

div.status_panel div, div.status_panel svg, div.status_panel button {
	display : block;
	float : left;
}

.wu-format-panel {
	font-size : 16px;
	font-weight : normal;
	overflow : hidden;
	z-index : 2;
	position : relative;
}

.wu-format-panel > div {
	float : left;
	margin-right : 14px;
}

.wu-toggle {
	display : none;
}


.wu-icon {
	width : 26px;
	min-width : 26px;
	height : 24px;

	float : left;

	background-color : white;
	background-position : center center;
	background-repeat : no-repeat;

	padding : 0;

	border-radius : 2px;
	border : 1px solid #5cb0d1;

	margin : 10px 2px 0 2px;

	font-family : Times;
	font-size : 16px;
	line-height : 22px;
}

.wu-icon:hover {
	background-color : rgb(245,245,245);
}

.wu-drop-down {
	position : relative;
	display : inline-block;

	height : 22px;

	background-image : url('/img/down.svg');
	background-position : 92% center;
	background-size : 9px 9px;

	padding-left : 5px;
	padding-right : 17px;

	cursor : default;

	font-size : 14px;
	font-family : Helvetica;
}

.wu-drop-down > span {
	font-size : 14px !important;
	line-height : auto !important;
	margin : 0 !important;
	padding : 0 !important;
}

.wu-drop-down > input {
	width : 100%;
	border-width : 0;
	padding : 0;
	font-size : 14px;
	font-family : Helvetica;
}

.wu-menu {
	position : absolute;
	z-index : 3;
	overflow : hidden;

	background-color : rgb(250,250,250);

	border-radius : 2px;
	border-top-left-radius : 0;
	border-top-right-radius : 0;

	box-shadow : 0 0 4px rgba(0,0,0,0.3);

	cursor : default;

	font-size : 14px;
}

.wu-menu-row {
	padding : 1px 5px;
	line-height : 24px !important;
	white-space : pre;
	margin : 0;
}

.wu-menu-row:before {
	display : inline-block;
	width : 20px;
	content : " ";
	margin : 0;
	font-size : 14px;
}

.wu-menu-row > span {
	display : inline-block !important;
}

.wu-menu-row:hover {
	background-color : rgb(230,230,230);
	border-top : 1px solid rgb(200,200,200);
	border-bottom : 1px solid rgb(200,200,200);
	padding : 0 5px;
}

.wu-menu-row.wu-selected:before {
	content : "\2713 ";
}

.wu-icon-heading {
	min-width : 20px;
}

.wu-icon-font_family {
	min-width : 60px;
}

.wu-icon-bold {
	font-weight : bold;
}

.wu-icon-italic {
	font-style : italic;
}

.wu-icon-underline {
	text-decoration : underline;
}

.wu-icon-strikethrough {
	text-decoration : line-through;
}

.wu-icon-color {
	/*color : red;*/
}

.wu-icon-background_color > div {
	width : 10px;

	padding : 0 3px;
	border : 1px solid black;
	margin : 0 auto;

	line-height : 16px;
	text-shadow :
		-1px -1px 2px white,
		1px -1px 2px white,
		-1px 1px 2px white,
		1px 1px 2px white;
}

.wu-icon-super span {
	vertical-align : super;
	font-size : 8px;
	line-height : 5px;
}

.wu-icon-sub span {
	vertical-align : sub;
	font-size : 8px;
	line-height : 5px;
}

.wu-icon-text_align {
	min-width : 42px;
}

.wu-icon-list {
	min-width : 54px;
}

.wu-icon-special_characters {
	background-image : url('/img/ampersand.svg');
	background-size : 18px 18px;
}

.wu-icon-insert_link,
.wu-icon-insert_image {
	width : 36px;
	background-size : 9px 9px, 18px 18px;
	background-position : 4px center, 14px center;
}

.wu-icon-insert_link {
	background-image : url('/img/plus.svg'), url('/img/link.svg');
}

.wu-icon-insert_image {
	background-image : url('/img/plus.svg'), url('/img/image.svg');
}

.wu-icon-edit_link,
.wu-icon-edit_image {
	width : 36px;
	position : relative;
}

.wu-icon-edit_link img,
.wu-icon-edit_image img {
	position : absolute;
	top : 3px;
	right : 4px;
	width : 18px;
	height : 18px;
}

.wu-icon-edit_link img:first-child,
.wu-icon-edit_image img:first-child {
	top : 7px;
	left : 4px;
	right : auto;
	width : 9px;
	height : 9px;
}

.wu-icon-undo,
.wu-icon-redo {
	vertical-align : middle;
}

.wu-icon-undo img,
.wu-icon-redo img {
	margin-top : 2px;
}

.wu-icon-undo img,
.wu-icon-redo img {
	width : 18px;
	height : 18px;
}

.wu-icon.on {
	background-image: linear-gradient(bottom, rgb(144,238,144) 17%, rgb(193,245,193) 59%);
	background-image: -o-linear-gradient(bottom, rgb(144,238,144) 17%, rgb(193,245,193) 59%);
	background-image: -moz-linear-gradient(bottom, rgb(144,238,144) 17%, rgb(193,245,193) 59%);
	background-image: -webkit-linear-gradient(bottom, rgb(144,238,144) 17%, rgb(193,245,193) 59%);
	background-image: -ms-linear-gradient(bottom, rgb(144,238,144) 17%, rgb(193,245,193) 59%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.17, rgb(144,238,144)),
		color-stop(0.59, rgb(193,245,193))
	);
}

.wu-icon.off {
}

.wu-icon-undo.on,
.wu-icon-redo.on,
.wu-icon-decrease_indent.on,
.wu-icon-increase_indent.on,
.wu-icon-edit_link.on,
.wu-icon-edit_image.on {
	background-color : rgb(230,230,230);
	color : black;
}

.wu-icon-undo.off,
.wu-icon-redo.off,
.wu-icon-decrease_indent.off,
.wu-icon-increase_indent.off,
.wu-icon-edit_link.off,
.wu-icon-edit_image.off {
	opacity : 0.3;
	background-color : white;
}


/* Color menu */


.wu-color_menu {
	padding : 2px;
}

.wu-color_default {
	height : 26px;
	line-height : 24px;
	float : left;
	overflow : hidden;
}

.wu-color_default > span {
	padding-left : 2px;
	cursor : pointer;
}

.wu-color_default > span:hover {
	text-decoration : underline;
}

.wu-color_custom {
	float : left;
	margin-left : 12px;
}

.wu-color_custom > div {
	margin-right : 3px;
}

.wu-color_custom > input {
	width : 23px;
	margin-left : 1px;
	margin-right : 8px;
	padding-left : 0;
	padding-right : 0;
	outline-width : 2px;
}

.wu-color_swatch {
	width : 20px;
	height : 20px;
	margin : 2px 2px 2px 2px;
	float : left;
	border-radius : 2px;
	/*box-shadow : 0 0 2px rgba(0,0,0,0.2);*/
	cursor : pointer;
}

.wu-color_swatch:nth-child(12n+3) {
	clear : left;
}

.wu-color_swatch:hover {
	box-shadow : 0 0 3px rgba(0,0,0,0.7);
}

.wu-color_swatch.wu-selected {
	width : 18px;
	height : 18px;
	border : 1px solid white;
	box-shadow : 0 0 2px rgba(0,0,0,0.7);
}

/****************************************************
  special characters
****************************************************/

.wu-special_characters, .wu-image_window  {
	padding : 20px;
}

.wu-special_characters input, .wu-image_window input {
  width: 320px;
  margin-bottom : 20px;
  font-size : 16px;
}

.wu-image_window input {
	width : 500px;
}

.wu-character_set {
  overflow: auto;
  width: 326px;
  height: 200px;
  margin: 18px 0px;
  padding : 2px 0 0 2px;
}

.wu-character_set div {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 4px;
  margin-bottom: 4px;
  text-align: center;
  line-height: 24px;
  margin-top: 0px;
  background-color : white;
  box-shadow : 0 0 2px rgba(0,0,0,0.3);
  border-radius : 4px;
}

.wu-special_characters div div div:hover {
	border : 1px solid rgb(160,160,160);
	width : 22px;
	height : 22px;
	line-height : 22px;
  cursor: pointer;
  background-color : rgb(230, 255, 220);
}

.wu-special_character_buttons {
  margin-top: 18px;
}

.wu-clipboard {
	position : absolute;
	right : 100%;
}

.button {
  background-color: white;
  text-align: center;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 100%;
  margin: 0px 4px 0px 0px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 16px;
  background: url('../img/bg_button.png') repeat-x rgb(255, 255, 255);
  background-image: url('../img/bg_button.png');
  background-repeat: repeat-x;
  background-attachment: initial;
  background-position-x: 50%;
  background-position-y: 100%;
  -webkit-background-clip: initial;
  -webkit-background-origin: initial;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid rgb(212, 212, 212);
}

.button:hover {
  border: 1px solid black;
}

.button_inactive {
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: default;
}

.button_inactive:hover {
  border: 1px solid rgb(212, 212, 212);
}

.small_button {
  padding: 1px 4px;
  float: none;
}

.buttons_disabled {
	opacity: 0.4;
	filter: alpha(opacity=40);
	cursor: default;
}

.buttons_selected {
	background-color : lightgreen;
}

.circle_button {
	width : 24px;
	height : 24px;
	background-color : rgb(80,80,80);
	border-radius : 12px;
	box-shadow : 0 0 4px rgba(0,0,0,0.5);
	cursor : pointer;
	margin : 2px;
	color : white;
	font-weight : 400;
	text-align : center;
	line-height : 24px;
	text-decoration : none;
	font-size : 13px;
}

button.circle_button {
	width : auto;
	line-height : 21px;
	border-width : 0;
	font-size : 13px;
	padding : 0 10px;
	background-position : center center;
	background-repeat : no-repeat;
	background-size : 14px 14px;
}

a.circle_button:hover, button.circle_button:hover {
	background-color : rgb(95,95,95);
}

div.nbe_window button {
	font-size : 14px;
}

div.nbe_window {
	overflow : hidden;
	padding : 20px;
	background-color : white;
	font-size : 14px;
}

div.nbe_window img {
	float : left;
	margin-bottom : 20px;
	width : 28px;
	height : 32px;
}

div.nbe_window h1 {
	float : left;
	font-size : 22px;
	margin : 0 0 20px 20px;
}

div.nbe_window > p {
	clear : left;
	font-size : 18px;
}

div.nbe_window h2 {
	font-size : 18px;
	margin : 30px 0 10px 0;
}

div.nbe_window h2 span {
	padding-left : 20px;
	font-size : 14px;
	font-weight : normal;
}

div.nbe_window h3 {
	font-size : 16px;
	margin : 20px 0 0 0;
}

/****************************************************
  Share window
****************************************************/

div.nbe_window.share {
	max-width : 720px;
}

div.nbe_window.share > p {
	border-bottom : 1px solid rgb(200,200,200);
	padding-bottom : 20px;
}

div.nbe_window.share > div > a {
	font-size : 16px;
	text-decoration : none;
	word-break : break-word;
}

div.nbe_window.share > div > a.visible {
	display : inline-block;
	margin-right : 20px;
}

div.nbe_window.share > div > a.hidden {
	display : none;
}

div.nbe_window.share > div > a:hover {
	text-decoration : underline;
}

div.nbe_window.share > div > button {
	margin : 0 20px 0 0;
}

div.nbe_window.share > div > div {
	margin-top : 5px;
	font-style : italic;
}

div.nbe_window.share div.share_email {
	overflow : hidden;
	border-top : 1px solid rgb(200,200,200);
	border-bottom : 1px solid rgb(200,200,200);
	padding-bottom : 20px;
	margin : 20px 0;
}

div.nbe_window.share div.share_email h2 {
	margin-top : 20px;
}

div.nbe_window.share div.share_email > div, div.nbe_window.share div.share_email > input, div.nbe_window.share div.share_email > button {
	float : left;
	display : block;
	margin-top : 10px;
	margin-right : 10px;
}

div.nbe_window.share div.share_email > input, div.nbe_window.share div.share_email > textarea {
	max-width : 270px;
	width : 100%;
	height : 40px;
	float : left;
	margin-top : 10px;
	font-size : 16px;
}

div.nbe_window.share div.share_email > div {
	width : 140px;
	clear : left;
}

div.nbe_window.share div.share_email > button {
	float : left;
}

div.nbe_window.share div.share_email button.send {
	display : block;
	clear : left;
	margin : 10px 0 0 150px;
}

div.nbe_window.share div.share_email span {
	display : block;
	float : left;
	margin-top : 10px;
	margin-left : 10px;
	line-height : 21px;
}

div.nbe_window.share > button {
	display : block;
	clear : both;
}

div.nbe_window.share button.active {
	color : green;
}

/****************************************************
  feedback window
****************************************************/

div.nbe_window.feedback div:first-child {
	float : left;
	font-size : 32px;
	line-height : 32px;
	margin-bottom : 20px;
}

div.nbe_window.feedback textarea, div.nbe_window.feedback input {
	width : 98%;
	font-size : 14px;
	padding : 5px;
}

div.nbe_window.feedback textarea {
	height : 100px;
}

div.nbe_window.feedback footer > div {
	float : left;
	margin-top : 20px;
}

div.nbe_window.feedback button {
	float : right;
}

div.nbe_window.feedback button:first-child {
	float : left;
	margin-right : 20px;
}

div.window {
	position: fixed;
	top: 50px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	z-index: 30;
	overflow: hidden;
	box-shadow: 0px 0px 16px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 0px 16px rgba(0,0,0,0.8);
	-webkit-box-shadow: 0px 0px 16px rgba(0,0,0,0.8);
}

div.window_dark {
	background-image: url('/public/inlund/img/opacity3.png');
}

div.window_light {
	border: 10px solid rgba(0,0,0,0.7);
	background-color: rgba(0,0,0,0.7);
	background-clip: padding-box;
	overflow-y: auto;
}

/* header */
div.window_header {
	height: 18px;
	background-repeat: repeat-x;
	padding: 0px;
	text-align: center;
	cursor: move;

	border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
}

div.header_dark {
	background-color: rgb(99,99,99);
	background-image: url('/public/inlund/img/bg_window_header.gif');
	color: white;
	font-weight: bold;
}

div.header_light {
	background-image: url('/public/inlund/img/bg_window_header_light.gif');
	background-color: rgb(245,245,245);
	color: black;
	text-shadow: rgba(255,255,255,0.5) 0px 1px;
}

/* container */
div.container {
	background-color: rgb(245,245,245);
	color: black;
	overflow-x: hidden;
	width: 100%;
	border-radius: 3px;
}

div.container_dark {
	background-color: rgb(70,70,70);
	color: white;
}

div.container_radius_bottom {
	background-color: rgb(70,70,70);
	padding: 5px;
	color: white;
	border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
}

div.container_radius {
	background-color: rgb(70,70,70);
	padding: 5px;
	color: white;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

div.container_radius_no_padding {
	background-color: rgb(70,70,70);
	padding: 0px;
	color: white;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

div.close_div {
	float: right;
	margin-right: 2px;
}

img.close_button {
	width: 17px;
	height: 17px;
	cursor: pointer;
	padding-top: 1px;
}

div.window_footer {
	background-color: rgb(99,99,99);
	height: 16px;

	border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
}

div.window_footer_light {
	background-color: rgb(172,172,172);
	height: 16px;
	border-top: 1px solid rgb(230,230,230);

	border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
}

img.window_resize {
	width: 11px;
	height: 11px;
	margin-top: 2px;
	margin-right: 4px;
	cursor: se-resize;
	display: block;
	float: right;
}

div.pop_up_arrow_space {
	position: relative;
	margin: auto;
	width: 25px;
	height: 15px;
}

div.pop_up_arrow_container {
	position: absolute;
	bottom: 0px;
	height: 18px;
}

/****************************************************
	DIALOG / CONFIRM
****************************************************/

div.dialog_cover {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
	filter: alpha(opacity = 25);
	opacity:.25;
	z-index: 29;
}

#blockScreen {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 3;
	background-color: black;
	filter: alpha(opacity = 55);
	opacity:.55;
}

#dialog {
	position: absolute;
	width: 350px;
	margin-left: 50%;
	left: -175px;
	padding: 30px;
	top: 200px;
	background-color: white;
	font-family: Lucida Grande, Verdana, Arial, Sans-serif;
	font-size: 20px;
	border: 3px solid rgb(50,50,50);
	z-index: 4;
}

div.session_window_content {
	padding: 10px;
	font-size: 20px;
}

div.session_window_content div {
	margin-top: 15px;
	overflow: hidden;
	font-size: 12px;
}

div.session_window_content input {
	width: 200px;
	float: left;
}

div.session_window_content button {
	float: left;
	margin-left: 10px;
}

div.confirm_content {
	padding: 50px;
	font-size: 16px;
}

/****************************************************
	S W I T C H
****************************************************/

div.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 12px;
	padding: 1px;
	background-color: rgb(80,80,80);
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	margin-left: 10px;
	cursor: pointer;
}

div.switch_control {
	position: relative;
	left: 0px;
	top: 0px;
	width: 23px;
	height: 12px;
	line-height: 11px;
	background-color: rgb(150,150,150);
	color: white;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	text-align: center;
	font-size: 10px;
	text-transform: uppercase;
}

@media print {
	html {
		height : 100%;
	}

	aside, div.panel_bg, .circle_button {
		display : none !important;
	}

	.wu-editor {
		position : static !important;
		overflow : visible !important;
		background-image : none !important;
	}

	.wu-root {
		box-shadow : none !important;
	}

	.editor_container {
		top : 0 !important;
	}
}

/* Panel doesn't fit horizontally */
@media only screen
and (max-width : 1348px) {
	aside#panel div.wu-format-panel {
		margin-right : 60px;
	}
}

/* Very narrow screen */
@media only screen
and (max-width : 428px) {
	div.editor_container {
		/*min-height : 453px;*/
	}

	article#frontpage div#editor_write, article#frontpage div#editor_read {
		float : none;
		width : auto;
	}

	aside#panel button.wu-toggle, aside#panel button.hide {
		display : block;
	}

	aside#panel div.wu-format-panel {
		position : absolute;
		left : -500px;
		top : 0;
		width : 500px;
		margin : 0;
		z-index : 3;
	}

	aside#panel div.wu-format-panel.open {
		left : 20px;
		top : 20px;
		right : 20px;
		width : auto;
		background-color : rgba(0,0,0,0.7);
		border-radius : 12px;
	}

	aside#panel div.wu-format-panel.open > div {
		margin-bottom : 7px;
		/*clear : left;*/
	}

	aside#panel div.wu-format-panel.open .wu-icon {
		margin-right : 7px;
	}


	button#feedback {
		content : 'Fback';
	}

	div.window {
		border-radius : 0;
		-moz-border-radius : 0;
		-webkit-border-radius : 0;
	}

	div.nbe_window {
		padding : 10px;
	}

	div.nbe_window.share div.share_email > button:nth-child(3) {
		clear : left;
	}

	div.nbe_window.share div.share_email button.send {
		margin : 10px 0 0 0;
	}
}

</style>